@charset "utf-8";

body {margin:0; padding:0; font-family: 돋움, Dotum, Helvetica, 'Apple SD Gothic Neo', sans-serif;}
a {text-decoration: none;  color:#efefef;}
ul {margin:0; padding:0;}
ul li {list-style: none;}
i, em {font-style:normal;}
span {white-space: nowrap; text-overflow: ellipsis;word-wrap: normal;}

#themeCast{margin:50px;}
div.themeList {position:relative; width:635px; height:45px;overflow: hidden; background:#f3f3f5 url(http://img.naver.net/static/www/img/sp_mn150818.png) no-repeat 0 -268px;zoom: 1;}
div.themeList span {float: left; margin:0 1px; border-top:1px solid #d6d6d6; background:#f3f3f5 url(http://img.naver.net/static/www/img/sp_mn150818.png) no-repeat 0 -316px;}
div.themeList span.tcc_lif {width:52px; background-position:-1px -316px;}
div.themeList span.tcc_spo {width:48px; background-position:-54px -316px;}
div.themeList span.tcc_aut {width:51px; background-position:-104px -316px;}
div.themeList span.tcc_web{width:41px; background-position:-157px -316px;}
div.themeList span.tcc_gam {width:43px; background-position:-200px -316px;}
div.themeList span.tcc_tvc {width:59px; background-position:-245px -316px;}
div.themeList span.tcc_muc {width:43px; background-position:-306px -316px;}
div.themeList span.tcc_mov {width:42px;background-position: -351px -316px}
div.themeList span.tcc_bok {width:48px;background-position: -395px -316px}
div.themeList span.tcc_ncc {width:69px;background-position: -445px -316px}
div.themeList span.tcc_occ {width:60px;background-position: -516px -316px}
div.themeList span.tcc_pub {width:55px;background-position: -578px -316px}

div.themeList span a.active {background:#fff url(http://img.naver.net/static/www/img/sp_mn150818.png) no-repeat; border-bottom:1px solid #fff; }
div.themeList span.tcc_lif .active {background-position:-1px -368px; }
div.themeList span.tcc_spo .active{background-position:-54px -368px;}
div.themeList span.tcc_aut .active{background-position:-104px -368px;}
div.themeList span.tcc_web .active{background-position:-157px -368px;}
div.themeList span.tcc_gam .active{background-position:-200px -368px;}
div.themeList span.tcc_tvc .active{background-position:-245px -368px;}
div.themeList span.tcc_muc .active{background-position:-306px -368px;}
div.themeList span.tcc_mov .active{background-position:-351px -368px;}
div.themeList span.tcc_bok .active{background-position:-395px -368px;}
div.themeList span.tcc_ncc .active{background-position:-445px -368px;}
div.themeList span.tcc_occ .active{background-position:-516px -368px;}
div.themeList span.tcc_pub .active{background-position:-578px -368px;}

div.themeList span a {display: block; height:46px;  font-size:0px; text-align: center; border-bottom:1px solid #fff;}
/*div.themeList span a:hover {background-color: #000; color: #fff;}*/
.themeOutline {width:634px; height:732px;  border:1px solid #d6d6d6;}
.themeCon {display: none; clear: both; }

/*.active {background-color: #556677; }*/



